.task {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid black;
}

.unassigned-tasks {
  width: 200px;
  height: auto;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.category {
  background-color: lightgreen;
  width: 100px;
  height: 500px;
  border: 1px solid black;
}

.categories-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}
