.task {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid black;
}

.unassigned-tasks {
  width: 200px;
  height: auto;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.category {
  background-color: lightgreen;
  width: 100px;
  height: 500px;
  border: 1px solid black;
}
