.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #70a4c7;
  padding: 20px;
  border-radius: 8px;
  width: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.modal-content button {
}

.modal-content label {
  display: inline-block;
  min-width: 100px;
  text-align: right;
  margin-right: 10px;
}

.taskPopup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0;
  height: 55px;
}

.taskPopup h2 {
}

.popContent {
  display: flex;
  flex-direction: column;
  margin: 6px;
  line-height: 24px;
}

.editForm {
}

.editForm label {
  margin-right: 5vw;
}

.editForm input {
  display: block;
  margin-left: 0vw;
  margin-right: auto;
  width: 20vw;
}

.createForm {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
  text-align: left;
}

.createForm label {
  display: inline;
}

.createForm select {
  margin-left: 1vw;
  display: block;
}

.createForm input {
  margin-left: 1vw;
  display: block;
}
